* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 600px;
    margin: 20px auto;
    background-color: #c8e3f5;
    padding: 20px 20px 20px 20px;
    border: 2px solid rgb(34, 45, 96);
    border-radius: 10px;
}
