* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 600px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px 20px 20px 20px;
    border: 2px solid rgb(34, 45, 96);
    border-radius: 10px;
}

.task-creation-form {
    width: 500px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px 20px 20px 20px;
    border: 2px solid rgb(60, 104, 137);
    border-radius: 10px;
}

.container-for-tasks {
    width: 500px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px 20px 20px 20px;
    border: 2px solid rgb(171, 60, 115);
    border-radius: 10px;
}
